{% extends 'base.html' %}

{% block title %}{{post.titulo}}{% endblock title %}

{% block content %}
    
<div class="row">
    <div class="col-3">
        <input class="btn btn-outline-primary" type=button value="Volver" onClick="javascript:history.go(-1);">
    </div>
    {% comment %} 
    Si el usuario logeado es quien publicó, puede editar y eliminar
    {% endcomment %}
    {% if user.is_authenticated and user == post.autor%}
        <div class="col-1">
            <a class="btn btn-outline-secondary " href={% url 'editarArt' post.pk %}>Editar</a>
        </div>
        <div class="col-1">
            <a class="btn btn-outline-danger" href={% url 'eliminarArt' post.pk %}>Eliminar</a>
        </div>
    {% else %}
    {% endif %}


</div>
<hr>
<br>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-title btn btn-primary btn-lg disabled">
                {{post.titulo}}
            </div>
            <div class="card-body">
                {% if post.get_img_url != None %}
                    <img class="img-fluid rounded" src={{post.get_img_url}} alt=" ">
                {% else %}
                <center>
                    <h5 class="text-muted">Imagen no disponible</h5>
                </center>

                {% endif %}
            </div>
            

        </div>
    </div>
    <div class="col">
        <div class="card">
            {% if post.body %}
            <div class="card-body">
                {{post.body|safe}}
            </div>
            {% else %}
            <div class="card-body">
                {{post.specs|safe}}
            </div>
            {% endif %}

            <div class="container">
                <a href={% url 'usuario' post.autor.id %}><h6 class="text-muted">De: {{post.autor}}</h6></a>
                <br>
            </div>
            <div class="btn btn-primary btn-lg disabled">
                <h4>$ {{post.precio}}</h4>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}
