{% extends 'base.html' %}

{% block title %}Editar artículo{% endblock title %}

{% block content %}

{% if user.is_authenticated and user == post.autor %}
    <h1>Editar artículo</h1>
    <div class="row">
        <div class="col-2">
            <a class="btn btn-outline-primary" href={% url 'articulo' post.pk %}>Volver</a>
        </div>
    </div>
    <hr>
    <br>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn btn-outline-success">Editar</button>
        </form>
    </div>
{% else %}
    <h3 class="text-muted">No puedes hacer eso sin iniciar sesión</h3>
{% endif %}

{% endblock content %}