{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-3">
        <input class="btn btn-outline-primary" type=button value="Volver" onClick="javascript:history.go(-1);">
    </div>
    {% comment %} 
    Si el usuario logeado es quien publicó, puede editar y eliminar
    {% endcomment %}
    {% if user.is_authenticated and user == post.autor %}
        <div class="col-1">
            <a class="btn btn-outline-secondary " href={% url 'editarPubli' post.pk %}>Editar</a>
        </div>
        <div class="col-1">
            <a class="btn btn-outline-danger" href={% url 'eliminarPubli' post.pk %}>Eliminar</a>
        </div>
    {% else %}
    {% endif %}
    <br><br>
    <hr>
    <div class="row">
        <div class="col">
            <h2>
                <u>{{post.titulo}}</u>
            </h2>
            <br>
            <div class="d-inline-flex">
                <div class="justify-content-end">
                    <div class="btn btn-info btn-lg disabled">
                        {{post.tipo}}
                    </div>
                        
                </div>
                <div class="container">
                    <a class="" href={% url 'usuario' id=post.autor.id %}>Por: {{post.autor}}</a>
                    <h6 class="text-muted">{{post.fecha_pub}}</h6>
                </div>
            </div>
            <hr>
            {{post.specs|safe}}
        </div>
        <div class="col">
            {% if post.get_img_url != None %}
                <center>
                    <img class="card shadow" style="width: 400px; height: 100%" src={{post.get_img_url}} alt=" ">
                </center>
            {% endif %}
            <br>
        </div>
        <br>
        <hr>
    </div>
    <div class="card">
        {{post.body|safe}}
    </div>

{% endblock content %}


</div>